/*
   quinta-feira, 10 de junho de 201012:22:12
   User: SA
   Server: DEV01-PC\CWORK
   Database: Montinorte
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Projeto SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Pedido ADD
	IDProjeto int NULL
GO
ALTER TABLE dbo.Pedido ADD CONSTRAINT
	FK_Pedido_Projeto FOREIGN KEY
	(
	IDProjeto
	) REFERENCES dbo.Projeto
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Pedido SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
